#if ($medias.size() > 0)
  <ul class="instagram-medias">
    #foreach ($media in $medias)
      <li>
        <a class="sv-resizable-img" href="$media.get('standardResolution', $media)"><img src="$media.get('thumbnail', $media)" alt="" /></a>
        #if ($media.get('captionText', $media).length() > 0)
          <p>$media.get('captionText', $media)</p>
        #end
        #if ($media.get('tags', $media).length() > 0)
          <p>Taggar: $media.get('tags', $media)</p>
        #end
      </li>
    #end
  </ul>
#end