#if ($medias.size() > 0)
  <ul class="lp-instagram-medias">
    #foreach ($media in $medias)
      <li>
        <img src="$media.get('lowResolution', $media)" alt="" />
        <p class="lp-instagram-profile">
          #if ($media.get('profilePicture', $media).length() > 0)
            <img src="$media.get('profilePicture', $media)" alt="" />
          #end
          #if ($media.get('username', $media).length() > 0)
            <a href="https://instagram.com/$media.get('username', $media)">$media.get('username', $media)</a>
          #end
        </p>
        <p>
          #if ($media.get('captionText', $media).length() > 0)
            $media.get('captionText', $media)
          #end
        </p>
      </li>
    #end
  </ul>
#end
